<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Carlos E. Garcia" />
   <link rel="stylesheet" href="/css/screen.css" />
   <link rel="shortcut icon" href="/favicon.ico">
   <link type="text/plain" rel="author" href="/humans.txt" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Carlos E. Garcia</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
       <p>
       <a href="/">Home</a> &nbsp;
       <a href="mailto:carlos@cgarcia.org">Email</a> &nbsp;
       <a href="https://github.com/cgar">GitHub</a> &nbsp;
       <a href="IRC://irc.freenode.net:cgar">IRC Freenode</a>
       </p>
    </div>
  </div>
</div>

</body>
</html>
