<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Carlos E. Garcia" />
   <link rel="stylesheet" href="/css/screen.css" />
   <link rel="shortcut icon" href="/favicon.ico">
   <link type="text/plain" rel="author" href="/humans.txt" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Carlos E. Garcia</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/colophon.html">colophon</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
       <p>
       <a href="/">Home</a> &nbsp;
       <a href="/colophon.html">Colophon</a> &nbsp;
       <a href="mailto:hello@cgarcia.org">Email</a>
       </p>
    </div>
  </div>
</div>

</body>
</html>
